* {
    box-sizing: border-box;
    margin: 0;
}
.main-pages {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}
.small-pages {
    padding: 0;
}
.small-pages li {
    text-align: center;
    padding-top: 20px;
}
nav ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.active {
    color: blue;
}
.elliot-video {
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.trust-this {
    display: block;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}